@font-face {
  font-family: circe;
  font-display: swap;
  src: url("../fonts/circe.woff2") format("woff2"), url("../fonts/circe.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: circe;
  font-display: swap;
  src: url("../fonts/circe-bold.woff2") format("woff2"), url("../fonts/circe-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

html,
body {
  font-family: Circe, sans-serif;
  height: 100%;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  line-height: 1.4;
  font-size: 16px;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.hero-aside {
  height: 100vh;
  max-height: 1000px;
  width: 120px;
  background: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.hero-aside__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-aside__logo {
  margin: 30px 0;
}

.hero-aside__menu {
  height: 24px;
  background-color: transparent;
}

.hero-aside__menu div {
  width: 33px;
  height: 4px;
  background-color: #b59571;
  border-radius: 8px;
  position: relative;
}

.hero-aside__menu div::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 4px;
  background: #b59571;
  left: 0;
  bottom: 10px;
  border-radius: 8px;
}

.hero-aside__menu div::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 4px;
  background: #b59571;
  left: 0;
  bottom: -10px;
  border-radius: 8px;
}

.hero-aside__social-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}

.header {
  position: relative;
}

.header__hero {
  width: 100%;
  height: 100vh;
  max-height: 1000px;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__hero-title {
  font-weight: 700;
  font-size: 54px;
  padding-left: 120px;
  max-width: 855px;
  color: #fff;
  position: absolute;
  left: 300px;
  bottom: 150px;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
  padding: 30px 100px 0px 0px;
}

.header__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}

.header__menu-link {
  font-weight: 400;
  color: #fff;
  text-decoration: none;
}

.header__menu-button {
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  padding: 10px 20px;
  color: #fff;
  background: #b59571;
}

.description__item {
  margin-top: 150px;
}

.description__item:nth-child(2) .description__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0px;
}

.description__item:last-child {
  margin-bottom: 150px;
}

.description__header {
  font-size: 20px;
  font-weight: 700;
  color: #333333;
  text-transform: uppercase;
  max-width: 230px;
  margin-bottom: 80px;
  position: relative;
}

.description__header::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 3px;
  background: #b59571;
  top: 10px;
  margin-left: 30px;
}

.description__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 134px;
}

.description__title {
  width: 196px;
  font-size: 64px;
  line-height: 1.2;
  font-weight: 700;
  color: #333333;
}

.description__content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 134px;
  margin-bottom: 120px;
}

.description__text p {
  max-width: 526px;
  font-size: 18px;
  font-weight: 400;
}

.description__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 104px;
}

.description__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.description__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.description__image::after {
  content: "";
  position: absolute;
  width: 416px;
  height: 240px;
  background: transparent;
  left: -40px;
  bottom: 40px;
  border: 1px solid rgba(51, 51, 51, 0.2);
  -webkit-transform: translateZ(-1px);
          transform: translateZ(-1px);
}

.description__image-header {
  font-weight: 700;
  font-size: 20px;
  color: #333333;
  text-transform: uppercase;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 280px;
  margin-top: 24px;
}

.description__image-header::after {
  content: "";
  width: 60px;
  height: 3px;
  background: #b59571;
  margin-top: 10px;
  margin-left: 30px;
}

.description__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 30px;
  margin-top: 60px;
}

.description__button {
  padding: 15px 30px;
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
}

.description__button:nth-child(1) {
  background-color: #b59571;
  color: #fff;
}

.description__button:nth-child(2) {
  background-color: transparent;
  color: #333333;
  border: 1px solid rgba(51, 51, 51, 0.2);
}

.description__terms {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 200px 200px;
  grid-template-columns: 200px 200px;
  -ms-grid-rows: 132px 132px;
  grid-template-rows: 132px 132px;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
  row-gap: 50px;
}

.description__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.description__term-title {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.2;
  color: #b59571;
}

.description__term-title span {
  font-size: 64px;
}

.description__term-text {
  font-size: 18px;
  font-weight: 400;
  color: #333333;
}

.description__reservation-wrapper {
  position: relative;
  z-index: 0;
}

.description__reservation {
  max-width: 415px;
  width: 100%;
  max-height: 350px;
  height: 100%;
  color: #fff;
  background-color: #5b5b5b;
  padding: 44px;
  position: absolute;
  left: -110px;
  top: 55px;
  z-index: 1;
}

.description__adress {
  margin-bottom: 20px;
}

.description__adress::before {
  background-image: url("../img/adress.svg");
}

.description__phone {
  margin-bottom: 25px;
}

.description__phone::before {
  background-image: url("../img/phone.svg");
}

.description__adress,
.description__phone {
  padding-left: 35px;
  position: relative;
}

.description__adress::before,
.description__phone::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
  top: 0;
}

.description__working-hours {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  font-size: 20px;
  font-weight: 700;
}

.description__working-hours p {
  font-weight: 400;
  font-size: 18px;
}

.description__working-hours p span {
  margin-right: 14px;
  font-weight: 700;
}

.description__reservation-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

.description__reservation-button {
  font-family: inherit;
  font-weight: 700;
  color: #fff;
  padding: 10px 20px;
}

.description__reservation-button:nth-child(1) {
  background-color: #b59571;
}

.description__reservation-button:nth-child(2) {
  background-color: transparent;
  border: 1px solid white;
}

.footer {
  background-color: #333333;
  width: 100%;
  height: 120px;
}

.footer__content {
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__privacy-policy {
  font-weight: 400;
  color: #fff;
}

.footer__author-link a {
  font-weight: 700;
  text-decoration: none;
  color: #fff;
}